<h1 style="color:#ba5a57;">Documentary Guide</h1>
<style>
    body {background-color: #f0cf91	;}
    a:link {color: #557d90	;}
    a:visited {color: #557d90	;}
</style>
<% @movie.each do |movie| %>
  <div>
    <%= link_to movie.title, movie_path(movie) %>
  </div>
<% end %>

<p>Want to review a movie you don't see here? <%= link_to "Add Movie!", @user %><p>